<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Just Another Django Blog</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jadb.css" />
</head>
<body>
		
        <div id="header">
        	<div class="logo"></div>
            <h1>Faded Tab</h1>
			<h2>This template brings success, I promise.</h2>
        </div>
<div id="bottomContent">
	<div class="navColumn"> 
    	<div class="overview">
        	This is where you place either you company slogan, motto, or any keyword rich information.   This information will be the first 'content' that will be read by the search engines, so try to make it good ;-)   Also keep in mind that this will be true for every page, so it might be a good idea to change this area for each page.  You might say that this section is strategically placed for that purpose, so use it carefully.        </div>
    	<div class="link"><a href="#">Home</a></div>
        <div class="link"><a href="#">About Us</a></div>
        <div class="link"><a href="#">Services</a></div>
        <div class="link"><a href="#">Portfolio</a></div>
        <div class="link"><a href="#">Web Programming</a></div>        
        <div class="link"><a href="#">Search Engine Optimization</a></div>
        <div class="link"><a href="#">Contact Us</a></div>
        
<div id="navBottom"></div>
    </div>
	<div class="contentColumn">



	<!--Start Content Box (use one of the simple ones below -->
  	<!--  To make a new content box, copy and paste from the Start to End, and paste it below this one.. you can create as many as you like. -->
      <div class="contentTop"></div>
      <div class="contentMain"> 
            <h1>The title for your content</h1>
                <p>You can include all of your content in one of these boxes, spread it out between many boxes, list one title per box, or many titles per box.   Feel free to use this template anywhere you'd like, but please leave the link back to me.  </p>
                <p>
            In order to include two titles in one of these content boxes all your have to do is create another H1 tag; and follow it with the content you wanted like so (note: if you are using comments, also include the comments div.) </p>
            
                        <div class="comments"><a href="#">Comments (1)</a></div>
                        <br />

                        
            <h1>A Second H1 Tag</h1>
            <p>You can include all of your content in one of these boxes, spread it out between many boxes, list one title per box, or many titles per box.   Feel free to use this template anywhere you'd like, but please leave the link back to me.  </p>
            
                                    <div class="comments"><a href="#">Comments (5)</a></div>
                                    <br />

                        
            <h1>A Third H1 Tag</h1>
            <p>You can include all of your content in one of these boxes, spread it out between many boxes, list one title per box, or many titles per box.   Feel free to use this template anywhere you'd like, but please leave the link back to me.  </p>
                
                
            <div class="comments"><a href="#">Comments (34)</a></div>
     </div>
     <div class="contentBottom"></div>
   	<!--End Content Box -->
    
  
    	<!--Start Content Box -->
  	<!--  To make a new content box, copy and paste from the Start to End, and paste it below this one.. you can create as many as you like. -->
      <div class="contentTop"></div>
      <div class="contentMain"> 
            <h1>The title for your content</h1>
                You can include all of your content in one of these boxes, spread it out between many boxes, list one title per box, or many titles per box.   
            <div class="comments"><a href="#">Comments (42)</a></div>
     </div>
     <div class="contentBottom"></div>
   	<!--End Content Box -->
    
    
    
    
    <!--Start Content Box -->
  	<!--  To make a new content box, copy and paste from the Start to End, and paste it below this one.. you can create as many as you like. -->
      <div class="contentTop"></div>
      <div class="contentMain"> 
            <h1>Copy this box</h1>
                Enter your content here   
            <div class="comments"><a href="#">Comments (16)</a></div>   
            <!-- feel free to delete this line if you don't use comments -->
     </div>
     <div class="contentBottom"></div>
   	<!--End Content Box -->


	</div>

</div>
        {% block content %}
		
	{% endblock %}     
</body>
	

</html>